<% include ../partials/header %>
<div class="container">
    <form method="POST" action="/login">
        <div class="form-group w-50 mx-auto">
            <h2>Login</h2>
            <input class="form-control" type="text" name="username" placeholder="Login">
            <input class="form-control" type="password" name="password" placeholder="Password">
            <input class="form-control btn btn-primary" type="submit">
        </div>
    </form>
    
    
</div>
<% include ../partials/footer %>
