<% include ../partials/header %>
<div class="container">
    <form action="/register" method="POST">
        <div class="form-group w-50 mx-auto">
            <h2>Register</h2>
            <input class="form-control" type="text" name="username" placeholder="Login">
            <input class="form-control" type="password" name="password" placeholder="Password">
            <input class="form-control btn btn-primary" type="submit">
        </div>
    </form>
</div>

<% include ../partials/footer %>
